<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- The test-only Shell server communicates over loopback sockets. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@android:drawable/ic_menu_info_details"
        android:label="Lumen restoration test driver" />
</manifest>
